! https://en.wikipedia.org/wiki/Fixed_(typeface)

URxvt*scrollBar:                      false

URxvt.font: 10x20
URxvt*termName: rxvt-unicode
URxvt*boldFont: 10x20B
URxvt*italicFont: 10x20O
URxvt*boldItalicFont: 10x20OB
