! https://en.wikipedia.org/wiki/Fixed_(typeface)
#include ".Xresources.d/colorscheme"

URxvt*scrollBar:                      false
URxvt*borderColor: #2d2d2d

URxvt*termName: rxvt-unicode

URxvt.font: xft:Bitstream Vera Sans Mono:size=12
